@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  background-color: #14213d;
  margin: 0 auto;
  min-height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

h1, h2 {
  font-family: "Bruno Ace SC", "sans-serif";
  text-align: center;
}

h1 {
  margin-top: 70px;
  color: #fca311;
  font-size: 40px;
}

h2 {
  color: #e5e5e5;
  font-size: 30px;
}

.selectFields {
  display: flex;
  justify-content: space-around;
  margin: auto 100px;
  padding-bottom: 15px;
}

#select1, #select2 {
  border-radius: 6px;
  font-family: "Mulish", "sans-serif";
  letter-spacing: 1px;
  padding: 5px;
  height: 40px;
  font-size: 16px;
}

.select-label {
  color: #e5e5e5;
  margin-bottom: 5px;
  font-family: "Mulish", "sans-serif";
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}

.content {
  text-align: center;
  min-height: screen;
}

.textFields {
  display: flex;
  justify-content: center;
}

#inputText, #outputText {
  width: 380px;
  height: 200px;
  border-radius: 10px;
  background-color: #e5e5e5;
  font-family: "Mulish", "sans-serif";
  font-size: 25px;
  padding: 30px;
  margin: 0 5px;
}
#inputText:focus, #outputText:focus {
  background-color: #f5f3f4;
}
#inputText:focus::-moz-placeholder, #outputText:focus::-moz-placeholder {
  color: transparent;
}
#inputText:focus::placeholder, #outputText:focus::placeholder {
  color: transparent;
}

#target_lang {
  background-color: #e5e5e5;
  font-family: "Mulish", "sans-serif";
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
}

.button {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#button {
  height: 60px;
  width: 140px;
  font-size: 18px;
  margin-top: 12px;
  background-color: #fca311;
  font-family: "Mulish", "sans-serif";
  color: #14213d;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 8px;
}

.heading {
  margin: auto;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fieldset {
  border: none;
  margin-bottom: 30px;
}

.signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Indie Flower", "cursive";
  font-size: 24px;
  color: #e5e5e5;
  margin: auto;
}
.signature p {
  margin: 70px auto;
}

@media (max-width: 930px) {
  .body {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  h1 {
    margin-top: 55px;
  }
  .select1, .select2, .textFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
  }
  .selectFields {
    display: flex;
    flex-direction: column;
  }
  #inputText, #outputText {
    width: 80%;
    height: 90px;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
  }
  .select-box {
    width: 200px;
    margin: 0 auto;
  }
  .content {
    width: 85%;
  }
  .heading {
    width: 75%;
  }
  .signature {
    width: 50%;
  }
  form {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */