@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$font-head: "Bruno Ace SC", "sans-serif";
$font-content: "Mulish", "sans-serif";
$color-orange: #fca311;
$color-light: #e5e5e5;
$color-focus: #f5f3f4;
$color-bg: #14213d;
$mobile-breakpoint: 600px;

body {
  background-color: $color-bg;
}

h1, h2 {
  font-family: $font-head;
  text-align: center;
}

h1 {
  margin-top: 70px;
  color: $color-orange;
  font-size: 40px;
}

h2 {
  color: $color-light;
  font-size: 30px;
}

.select1, .select2, .textFields {
  display: inline-block;
  padding: 10px;
  margin: auto;
}

#select1, #select2 {
  border-radius: 6px;
  font-family: $font-content;
  letter-spacing: 1px;
  padding: 5px;
  height: 30px;
  font-size: 16px;
}

.select1 {
  margin-right: 110px;
}

.select2 {
  margin-left: 110px;
}

.select-label {
  color: $color-light;
  margin-bottom: 5px;
  font-family: $font-content;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}

.content {
  text-align: center;
}

#inputText, #outputText {
  width: 380px;
  height: 200px;
  border-radius: 10px;
  background-color: $color-light;
  font-family: $font-content;
  font-size: 25px;
  padding: 30px;
  margin: 0 5px;
  &:focus {
    background-color: $color-focus;
  }
}

#target_lang {
  background-color: $color-light;
  font-family: $font-content;
  letter-spacing: .5px;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
}

#button {
  height: 50px;
  width: 130px;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-top: 12px;
  text-align: center;
  background-color: $color-orange;
  font-family: $font-content;
  color: $color-bg;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 8px;
}

.heading {
  margin-bottom: 35px;
}

#fieldset {
  border: none;
}

@media (max-width: $mobile-breakpoint) {
  .select1, .select2, .textFields {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
  }

  #inputText, #outputText {
    width: 230px;
    height: 90px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
  }

  .select-box {
    width: 200px;
    margin: 0 auto;
  }

  h1 {
    margin-top: 55px;
  }

}