<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Python Translator</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="./static/styles/favicon.png">
</head>
<body>
  <div class="heading">
      <h1 class="name">Python translator</h1>
      <h2>with Deepl</h2>
  </div>
  <div class="content">
    <form id="form" method="POST" action="">
    {{ form.hidden_tag() }}
      <fieldset id="fieldset">
        <div class="selectFields">
          <div class="select1">
              {{ form.source_lang.label(class="select-label") }}
              {{ form.source_lang(id="select1", class="select-box", placeholder="") }} 
          </div>        
          <div class="select2">
              {{ form.target_lang.label(class="select-label") }}
              {{ form.target_lang(id="select2", class="select-box", placeholder="") }} 
          </div>
        </div>  
        <div class="textFields">         
          {% if form.userInput.errors %}
              {{ form.userInput(class="is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.userInput(id="inputText", placeholder="Type your text") }} 
          {% endif %}
        {{ form.output(id="outputText", placeholder="Translation") }} 
        </div
        <div class="button">
            {{ form.submit(id="button", type="submit", method="POST") }} 
        </div>          
      </fieldset>
    </form>
    <div class="signature">
      <p>by Lukáš Hotový</p>
    </div>
  </div>
</body>
</html>