<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Python Translator</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <div class="heading">
      <h1 class="name">Python translator</h1>
      <h2>with Deepl</h2>
  </div>
  <div class="content">
    <form id="form" method="POST" action="">
    {{ form.hidden_tag() }}
      <fieldset class="textfields">
        <div class="select">
            {{ form.target_lang.label(class="select-label") }}
            {{ form.target_lang(id="select", class="select", placeholder="") }} 
        </div>
        <div class="textfields"> 
          {% if form.userInput.errors %}
              {{ form.userInput(class="is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                      {% endfor %}
                  </div>
          {% else %}
              {{ form.userInput(id="inputText", placeholder="Type your text") }} 
          {% endif %}
        {{ form.output(id="outputText", placeholder="Translation") }} 
        {{ form.submit(id="button", type="submit", method="POST") }} 
        </div>     
      </fieldset>
    </form>
  </div>
</body>
</html>