<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Python Translator</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <div class="heading">
      <h1>Python <span>translator</span></h1>
      <h2>with Deepl</h2>
  </div>
  <div class="content">
    <div class="select">
      <label for="target_lang" class="label">Select target language</label>
      <select name="target_lang" id="target_lang">
        <option value="DE">German</option>
        <option value="EN">English</option>
        <option value="ES">Spanish</option>
        <option value="FI">Finnish</option>
        <option value="IT">Italian</option>
        <option value="JA">Japanese</option>
        <option value="NB">Norwegian Bokmal</option>
        <option value="PL">Polish</option>
        <option value="RU">Russian</option>
        <option value="ZH">Chinese</option>
      </select>
    </div>
    <div class="textfields">  
      <input type="text" id="inputText" name="inputText" placeholder="Type your text">
      <input type="text" id="outputText" placeholder="Translation">
    </div>
    <div>
      <button id="button" type="submit" onclick="translate()">Submit</button>
    </div>
    		<div id="message">
			<div id="result">
            <<p>{{result}}</p>
			</div>
		</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>